// Vau private settings

TM_CXXWARNING = -Wall -Wno-return-type
TM_CXXTEMPLATE = 
TM_CXXOPTIMIZE = -fno-rtti
TM_CXXDEBUG = 
TM_CXXPROFILE = 
TM_CFLAGS = 
TM_CXXFLAGS = $(TM_CXXWARNING) $(TM_CXXTEMPLATE) $(TM_CXXOPTIMIZE) $(TM_CXXDEBUG) $(TM_CXXPROFILE) -INONE/include  -fno-rtti
TM_CPPFLAGS =  -include config.h -DQT_NO_DEBUG -DQT_PRINTSUPPORT_LIB -DQT_SVG_LIB -DQT_WIDGETS_LIB -DQT_MACEXTRAS_LIB -DQT_GUI_LIB -DQT_CORE_LIB -I. -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtPrintSupport.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtSvg.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtWidgets.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtMacExtras.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtGui.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtCore.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk/System/Library/Frameworks/OpenGL.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.0.sdk/System/Library/Frameworks/AGL.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/mkspecs/macx-clang-arm64 -F/opt/homebrew/Cellar/qt@5/5.15.6/lib
TM_QTCPPFLAGS = -DQT_NO_DEBUG -DQT_PRINTSUPPORT_LIB -DQT_SVG_LIB -DQT_WIDGETS_LIB -DQT_MACEXTRAS_LIB -DQT_GUI_LIB -DQT_CORE_LIB -I. -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtPrintSupport.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtSvg.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtWidgets.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtMacExtras.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtGui.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtCore.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk/System/Library/Frameworks/OpenGL.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk/System/Library/Frameworks/AGL.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/mkspecs/macx-clang-arm64 -F/opt/homebrew/Cellar/qt@5/5.15.6/lib
TM_CXXX11 = 
TM_CXXCOCOA = 
TM_CXXQT = -pipe -stdlib=libc++ -O2 -std=gnu++11 -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk -Wall -Wextra -fPIC -stdlib=libc++ -std=c++11
TM_CXXGUI = $(TM_CXXQT)
TM_CXXAXEL = 
TM_CXXCAIRO = 
TM_CXXIMLIB2 = 
TM_CXXSQLITE3 = 
TM_CXXFREETYPE =   -I/opt/homebrew/opt/freetype/include/freetype2
TM_CXXICONV = 
TM_CXXGUILE =   -I/opt/homebrew/opt/readline/include -I/opt/homebrew/Cellar/gmp/6.2.1_1/include -I/opt/homebrew/Cellar/libtool/2.4.7/include -D_THREAD_SAFE -I/Users/mgubi/t/guile-1.8.7/usr/include -I/Users/mgubi/t/guile-1.8.7/usr/include/guile -I/opt/homebrew/opt/readline/include/guile
TM_CXXSPARKLE =   
TM_CXXPDF =  

TM_LD = clang++
TM_LDFLAGS =   -Wl,-stack_size,0x1000000,-headerpad_max_install_names -L/Users/mgubi/t/guile-1.8.7/usr/lib -L/opt/homebrew/opt/readline/lib -L/opt/homebrew/Cellar/gmp/6.2.1_1/lib -L/opt/homebrew/Cellar/libtool/2.4.7/lib -L/opt/homebrew/opt/freetype/lib -Wl,-rpath,/opt/homebrew/Cellar/qt@5/5.15.6/lib -F/opt/homebrew/Cellar/qt@5/5.15.6/lib -Wl,-rpath,@executable_path/../Frameworks -Wl,-F/opt/homebrew/Cellar/qt@5/5.15.6/lib -framework QtPrintSupport -framework QtSvg -framework QtWidgets -framework QtMacExtras -framework QtGui -framework AppKit -framework Metal -framework QtCore -framework DiskArbitration -framework IOKit -framework OpenGL -framework AGL -framework Cocoa -framework IOKit  $(TM_CXXPROFILE)
TM_LIBS =    -lfreetype -liconv -lguile -lgmp -lm -lltdl
TM_LDRT = 
TM_LDSTATIC = -lXdmcp -lXau -lXrender
TM_LDSHARED = 
TM_LDPATH = 
TM_LDX11 =
TM_LDCOCOA = 
TM_LDQT = -F/opt/homebrew/Cellar/qt@5/5.15.6/lib -Wl,-rpath,@executable_path/../Frameworks -Wl,-F/opt/homebrew/Cellar/qt@5/5.15.6/lib -L/Users/mgubi/t/guile-1.8.7/usr/lib -L/opt/homebrew/opt/readline/lib -L/opt/homebrew/Cellar/gmp/6.2.1_1/lib -L/opt/homebrew/Cellar/libtool/2.4.7/lib -L/opt/homebrew/opt/freetype/lib -framework QtPrintSupport -framework QtSvg -framework QtWidgets -framework QtMacExtras -framework QtGui -framework AppKit -framework Metal -framework QtCore -framework DiskArbitration -framework IOKit -framework OpenGL -framework AGL
TM_LDGUI = $(TM_LDQT)

TM_MOC = /opt/homebrew/opt/qt@5/bin/moc
TM_MOCFLAGS = -DQT_NO_DEBUG -DQT_PRINTSUPPORT_LIB -DQT_SVG_LIB -DQT_WIDGETS_LIB -DQT_MACEXTRAS_LIB -DQT_GUI_LIB -DQT_CORE_LIB -I. -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtPrintSupport.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtSvg.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtWidgets.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtMacExtras.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtGui.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/lib/QtCore.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk/System/Library/Frameworks/OpenGL.framework/Headers -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.1.sdk/System/Library/Frameworks/AGL.framework/Headers -I/opt/homebrew/Cellar/qt@5/5.15.6/mkspecs/macx-clang-arm64 -F/opt/homebrew/Cellar/qt@5/5.15.6/lib

TM_BASE = $(SRCROOT)/../..
TM_HEADER_SEARCH_PATHS = $(TM_BASE)/src/System $(TM_BASE)/src/System/Boot $(TM_BASE)/src/System/Classes $(TM_BASE)/src/System/Files $(TM_BASE)/src/System/Link $(TM_BASE)/src/System/Misc $(TM_BASE)/src/System/Language $(TM_BASE)/src/Kernel/Abstractions $(TM_BASE)/src/Kernel/Containers $(TM_BASE)/src/Kernel/Types $(TM_BASE)/src/Data/Convert $(TM_BASE)/src/Data/Drd $(TM_BASE)/src/Data/History $(TM_BASE)/src/Data/Observers $(TM_BASE)/src/Data/String $(TM_BASE)/src/Data/Tmfs $(TM_BASE)/src/Data/Tree $(TM_BASE)/src/Scheme $(TM_BASE)/src/Graphics/Bitmap_fonts $(TM_BASE)/src/Graphics/Fonts $(TM_BASE)/src/Graphics/Gui $(TM_BASE)/src/Graphics/Mathematics $(TM_BASE)/src/Graphics/Renderer $(TM_BASE)/src/Plugins $(TM_BASE)/src/Edit $(TM_BASE)/src/Typeset $(TM_BASE)/src/Typeset/Bridge $(TM_BASE)/src/Typeset/Concat $(TM_BASE)/src/Typeset/Page $(TM_BASE)/src/Style/Memorizer $(TM_BASE)/src/Style/Environment $(TM_BASE)/src/Style/Evaluate $(TM_BASE)/TeXmacs/include $(TM_BASE)/src

TM_QT_FRAMEWORKS_PATH = /opt/homebrew/Cellar/qt@5/5.15.6/lib

// Disable universal binaries
//ARCHS = $(NATIVE_ARCH)
//ARCHS = $(NATIVE_ARCH)
ONLY_ACTIVE_ARCH = YES
//MACOSX_DEPLOYMENT_TARGET=@MACOSX_DEPLOYMENT_TARGET@

// Basic settings

//FRAMEWORK_SEARCH_PATHS = 
//LIBRARY_SEARCH_PATHS =
HEADER_SEARCH_PATHS =  $(TM_HEADER_SEARCH_PATHS)
INFOPLIST_FILE = $(TM_BASE)/platform/macos/Info.plist
INFOPLIST_PREPROCESS = YES
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
GCC_PRECOMPILE_PREFIX_HEADER = NO

